.search-results {
  position: absolute;
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 318px;
  height: 150px;
  border: 2px solid black;
  margin: 0 20px 20px 20px;
  padding: 10px;
  background-color: red;
  background-image: url(https://hd.unsplash.com/6/blurred_lines.jpeg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  overflow-y: scroll;
}

.auto > *{
  margin-left: 30px;
}

.auto > input{
  margin: 10px 30px 0 30px;
  border: 1px solid black;
}

.auto li{
  cursor: pointer;
  list-style-type: square;
}

.auto-enter {
  opacity: 0.01;
  transform: translateY(500%);
}

.auto-enter.auto-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 700ms ease-in, transform 700ms ease-in;
}

.auto-leave {
  opacity: 1;
  transform: translateY(0);
}

.auto-leave.auto-leave-active {
  opacity: 0.01;
  transform: translateY(500%);
  transition: opacity 700ms ease-in, transform 700ms ease-in;
}

.auto:hover {
  visibility: visible;
}

.auto:active {
  visibility: visible;
}

.auto:focus {
  visibility: visible;
}

.auto {
  visibility: hidden;
  z-index: 4;
  margin-top: 15px;
}

.search-input {
  visibility: visible;
  height: 25px;
  width: 340px;
  border-radius: 4px;
  font-size: 17px;
  text-align: center;
  margin-top: 40px;
}

.search-thumbnail {
  height: 100%;
  width: 100%
}

.search-index-item {
  position: relative;
  font-size: 12px;
  flex-direction: row;
  height: 20px;
  color: white;
}

.search-thumbnail {
  border: 1px solid black; 
}

.search-detail {
  flex-direction: column;
  width: 50%;
}

.search-thumbnail-div {
  width: 50%;
}

.search-result-item {
  display: flex;
}

.search-thumbnail-div {
  width: 60px;
  height: 90px;
}