.video-index-item {
  width: 450px;
  background-color: rgb(85, 85, 85);
  height: 415px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
  text-align: center;
}

.video-index-item:hover {
  background-color: rgba(173, 173, 173, 0.507);
}

.video-title {
  -webkit-text-stroke: 1px black;
  font-weight: 700;
  height: 50px;
  padding: 10px;
  font-size: 22px;
	text-align: center;
	-webkit-transition: text-shadow 1s ease;
}

.videos-ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
}

.index-thumbnail {
  border: 1px solid rgba(255, 0, 0, 0.452);
  width: 380px;
  height: 260px;
}

.video-index-item-author {
  padding: 20px;
}

.profile-header {
  padding: 10px;
}