.video-index-item {
  width: 500px;
  background-color: white;
  height: 515px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
  text-align: center;
  
}

.video-index-item:hover {
  background-color: red;
}


.video-title-div {
  background: url(https://images-na.ssl-images-amazon.com/images/I/81%2BMcjk1UkL._SX466_.jpg);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 4;
}

.video-title {
  -webkit-text-stroke: 1px black;
  font-weight: 700;
  height: 70px;
	text-align: center;
	-webkit-transition: text-shadow 1s ease;
}

.videos-ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
}

.index-thumbnail {
  border: 1px solid red; 
}