/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #09d3ac;
}

html {
  width: 100%;
}

.logo-div {
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/81%2BMcjk1UkL._SX466_.jpg);
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  right: 0vw;
  top: 0vh;
  padding: 0px;
  margin: 0px;
  opacity: 0.8;
}

.logo {
  width: 220px;
  height: 50px;
  /* text-align: center; */
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px rgb(0, 0, 0);
  font-size: 40px;
  font-family: 'Permanent Marker', cursive;
  background-color: #fafafa8a;
  border-radius: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 10px;
  box-shadow: 0px 0px 30px 30px #fafafa8a;
  padding: 5px;
}

.searchbar {
  height: 28px;
  margin-top: 25px;
}

.header-div {
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
}

.login {
  width: 100px;
  height: 50px;
  color: white;
  background: black;
}

.signup {
  width: 100px;
  height: 50px;
  color: white;
  background: black;
  margin-right: 5px;
}

.login-div {
  position: fixed;
  right: 5px;
  top: 6px;
}

.current-user {
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 32, 118);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 10px;
}

.nav-buttons {
  
}

.nav-image {
  width: 50px;
  height: 50px;
}
/* video-show */
.video {
  display: flex;
}

.video-show {
  display: flex;
  height: 100%;
  width: 72%;
  margin: 2%;
  flex-direction: column;
  justify-content: center;
}

.react-player {
  width: 100%;
  height: 100%;
}

.video-show-title {
  font-weight: 300;
}

.video-show-header {
  
}

.suggested-videos {
  width: 20%;
  padding: 5px;
  overflow-y: scroll;
  height: 2000px;
}

.suggested-video {
  list-style: none;
  padding: 15px;
  border-top: 1px solid gray;
}

.suggested-video-title {
  font-size: 16px;
}

.suggested-video-author {
  font-size: 14px;
}

.suggested-video-thumbnail {
  width: 180px;
  height: 120px;
}

.search-thumbnail-div {
  width: 60px;
  height: 90px;
}

.video-show-author {
  font-size: 14px;
}

.thumbs-up {
  height: 20px;
  width: 20px;
}

.thumbs-down {
  height: 20px;
  width: 20px;
}

.video-comments-header {
  font-size: 16px;
}

/*  */
.search-results {
  position: absolute;
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 318px;
  height: 150px;
  border: 2px solid black;
  margin: 0 20px 20px 20px;
  padding: 10px;
  background-color: red;
  background-image: url(https://hd.unsplash.com/6/blurred_lines.jpeg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  overflow-y: scroll;
}

.auto > *{
  margin-left: 30px;
}

.auto > input{
  margin: 10px 30px 0 30px;
  border: 1px solid black;
}

.auto li{
  cursor: pointer;
  list-style-type: square;
}

.auto-enter {
  opacity: 0.01;
  transform: translateY(500%);
}

.auto-enter.auto-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 700ms ease-in, transform 700ms ease-in;
}

.auto-leave {
  opacity: 1;
  transform: translateY(0);
}

.auto-leave.auto-leave-active {
  opacity: 0.01;
  transform: translateY(500%);
  transition: opacity 700ms ease-in, transform 700ms ease-in;
}

/* .search-results {
  visibility: hidden;
} */
.auto:hover {
  visibility: visible;
}

.auto:active {
  visibility: visible;
}

.auto:focus {
  visibility: visible;
}

.auto {
  visibility: hidden;
  z-index: 4;
  margin-top: 15px;
}

.search-input {
  visibility: visible;
  height: 25px;
  width: 340px;
  border-radius: 4px;
  font-size: 17px;
  text-align: center;
  margin-top: 40px;
}

.search-thumbnail {
  height: 100%;
  width: 100%
}

/* SEARCH INDEX ITEM */

.search-index-item {
  position: relative;
  /* display: flex; */
  font-size: 12px;
  flex-direction: row;
  /* justify-content: space-between; */
  /* justify-content: space-between; */
  height: 20px;
  color: white;
}

.search-thumbnail {
  border: 1px solid black; 
}

.index-thumbnail {
  border: 1px solid red; 
}

.search-detail {
  flex-direction: column;
  width: 50%;
}

.search-thumbnail-div {
  width: 50%;
}

.search-result-item {
  display: flex;
}

.like-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
}

.like-dislike {
  margin: 4px;
}

.likes-counter {
  display: flex;
  flex-direction: row;
}

.likes-count {
  margin: 4px;
}
/* General  */
a {
  text-decoration: none; 
}

body {
  background-color: darkgray;
}

.video {
  height: 800px;
  width: 900px;
}

.videos-ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}





/* New Form */

.post-new-video {
  font-weight: 300;
  font-family: 'Permanent Marker', cursive;
  height: 56px;
	text-align: center;
	-webkit-transition: text-shadow 1s ease;
  text-shadow: 0 0 1px rgba(0,0,0,.1);
   background-image: url(https://images-na.ssl-images-amazon.com/images/I/81%2BMcjk1UkL._SX466_.jpg);
}

.video-create-div {
  margin: auto;
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: row;
}

.video-create-div > form > div > input {
  width: 80%;
  margin: auto;
  border: 1px solid red; 
}

.video-create-div > form > h1 {
  width: 80%;
  margin: auto;
  color: white; 
}

.video-index-item {
  width: 500px;
  background-color: white;
  height: 515px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
  text-align: center;
}

.video-title-div {
  background: url(https://images-na.ssl-images-amazon.com/images/I/81%2BMcjk1UkL._SX466_.jpg);
  background-size: cover;
  /* color: black; */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: 4;
  /* margin: auto; */
}

.video-title {
  -webkit-text-stroke: 1px black;
  font-weight: 700;
  /* font-family: 'Permanent Marker', cursive; */
  height: 70px;
	text-align: center;
	-webkit-transition: text-shadow 1s ease;
	/* text-shadow: 0 0 1px rgba(0,0,0,.1); */
}

.auth-modal {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.auth-form {
  padding: 30px;
  background-image: url('https://www.publicdomainpictures.net/pictures/90000/velka/red-black-seamless-tiger-stripes.jpg');
  height: 220px;
  width: 220px;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-input {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;

}

.password-input {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;

}

.auth-submit {
  margin: 10px;
  padding: 5px;
  width: 80px;
  height: 25px;
}

.handle-input {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;

}

.auth-header {
  padding: 0px;
  font-size: 18px;
}

.signup-form {
  padding: 30px;
  background-image: url('https://www.publicdomainpictures.net/pictures/90000/velka/red-black-seamless-tiger-stripes.jpg');
  height: 320px;
  width: 220px;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}